<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <div id='header'><h1>Hangman</h1></div>
        <div id='main-container'>
            <div id='guessed-word'><p><%= guessed_word.join(" ") %></p></div>
            <img id='image' src='stage2.png'>
            <% if !game_over %>   
                <form>
                    <div class='form'><input type='text' name='user_guess' maxlength='1' autofocus/></div>
                    <div class='form'><input class='btn' type='submit' value='Guess!'/></div>
                <form>
                <% if guessed_letters != [] %>
                    <div class='info'><p>Incorrect letters: 
                        <div class='info' id='letters'><%= guessed_letters.join(" ")%></p></div>
                    </div>
                <% end %>
            <% end %>
            <div class='info' id='guesses'><p>Incorrect guesses remaining: <%= number_of_guesses_remaining %></p></div>
            <form>
                <div id='reset'><input class='btn' type='submit' name='reset' value='Reset game'/></div>
            <form>
            <p id='message'><%= message %></p>
            <div id='cheat'><p><%= cheat %></p></div>
        </div>
        <div id='credit'>
            <p>Made by <span onclick="toggleCheat()" id="click">C</span>hristian Arneson</p>
        </div>
        <script src="/script.js"></script>
    </body>
</html>